// Abstracts (variáveis, funções, mixins e placeholders)
@use "../abstracts/index" as *;

.btn {
    @include font-config(body-small, medium);
    text-align: center;
    background-color: get-color(surface-secondary);
    color: get-color(content-inverse);
    border-radius: 4px;
    width: 300px;
    padding: 0.625rem 0;
    display: block;
}