// Abstracts (variáveis, funções, mixins e placeholders)
@use "../abstracts/index" as *;

.btn {
    text-align: center;
    background-color: get-color(surface-secondary);
    color: get-color(content-inverse);
    border-radius: 4px;
    width: 250px;
    padding: 0.625rem 0;
    display: block;
    @include font-config(body-small, medium);
    @include custom-transition(box-shadow);
    @include responsive(mobile) {
        width: 300px;
    }

    &:hover,
    &:focus {
        @include custom-box-shadow(2px 2px 10px get-color(border-tertiary));
    }
}

.btn--fechar-x {
    color: get-color(content-secondary);
    background: transparent;
    @include font-config(h4);
}