// Abstracts (variáveis, funções, mixins e placeholders)
@use "../abstracts/index" as *;

.banner {
  margin-top: $section-space;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container {
    padding: 4.5rem 1.5rem;
    @include flexbox(column, $gap: 2rem);
  }

  &__descricao {
    @include responsive(laptop) {
      @include font-config(body-medium);
    }
    > span {
      @include font-config($weight: bold);
      @include responsive(laptop) {
        @include font-config(body-medium, bold);
      }
    }
  }

  &--principal {
    margin-top: 1.8rem;
    background-image: url("/public/assets/banners/banner-1.png");
    background-position: 55% center;

    .banner__titulo {
      max-width: get-text-container(xs);
      @include responsive(tablet) {
        max-width: get-text-container(s);
      }
      @include responsive(laptop) {
        max-width: get-text-container(xl);
      }
    }

    .banner__descricao {
      max-width: get-text-container(s);
      @include responsive(laptop) {
        max-width: get-text-container(l);
      }
    }
  }

  &--secundario {
    background-image: url("/public/assets/banners/banner-2.png");

    .container {
        text-align: center;
        align-items: center;
    }

    .banner__titulo {
      @include responsive(tablet) {
        max-width: get-text-container(xl);
      }
      @include responsive(laptop) {
        max-width: 100%;
      }
    }

    .banner__descricao {
      max-width: get-text-container(xl);
      @include responsive(laptop) {
        max-width: get-text-container(xxl);
      }
    }
  }

  &--terciario {
    background-image: url("/public/assets/banners/cafe-graos.png");
    height: 20rem;
  }
}