// Abstracts (variáveis, funções, mixins e placeholders)
@use "../abstracts/index" as *;

.contato {
    margin-top: $section-space;

    &__container {
        border-radius: 8px;
        padding: 1.5rem;
        margin-inline: auto;
        max-width: 48.5rem;
        @include custom-border(get-color(border-tertiary));
    }

    &__titulo {
        margin-bottom: 2rem;
    }
}

.form {
    &__campo {
        > input,
        > select {
            @extend %form-campo;
        }
    }

    &__campo-botao {
        width: 100%;
    }
}