@use "./variables" as v;
@use "./functions" as f;

@mixin font-config($size: body-small, $weight: regular, $family: barlow) {
    font-family: f.get-font-family($family);
    font-size: f.get-font-size($family, $size);
    font-weight: f.get-font-weight($weight);
}

@mixin responsive($breakpoint, $type: "min") {
    @media screen and (#{$type}-width: f.get-breakpoint($breakpoint)) {
        @content;
    }
}

@mixin flexbox($direction: row, $justify: center, $items: flex-start, $self: null, $gap: null, $wrap: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
    align-self: $self;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin custom-border($color, $size: 1px, $style: solid) {
    border: $size $style $color;
}

@mixin custom-box-shadow($shadow...) {
    box-shadow: $shadow;
}

@mixin custom-transition($property, $type: ease, $duration: 0.3s) {
    transition: $property $duration $type;
} 