$colors: (
    // Background-colors
    background-primary: #212529,
    background-secondary: #8a5e36,

    // Text colors
    text-primary: #feffcf,
    text-secondary: #462e09,
    text-tertiary: #ffffff,

    // Border colors
    border-primary: #b29463,
    border-secondary: #7b7574,
);

$breakpoints: (
    tablet: 768px,
    laptop: 1024px,
    desktop: 1200px,
);

$typography: (
    barlow: (
        family: ("Barlow", sans-serif),
        sizes: (
            // titles
            h1: 5.75rem,
            h2: 4rem,
            h3: 2.5rem,
            h4: 1.75rem,
            h5: 1.25rem,

            //paragraphs
            body-large: 1.5rem,
            body-medium: 1.25rem,
            body-small: 1rem,
        )
    ),
    weights: (
        regular: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
    ),
);