@use "sass:map";

// Função para resgatar a paleta de cor
@function get-palette($palette) {
    @return map.get($palettes, $palette);
}

$palettes: (
    white: #ffffff,
    yellow-100: #feffcf,
    gray-300: #ced4da,
    gray-500: #7b7574,
    gray-800: #212529,
    brown-300: #b29463,
    brown-500: #8a5e36,
    brown-700: #462e09,
);

$colors: (
    // Backgrounds
    surface-primary: get-palette(white),
    surface-secondary: get-palette(brown-500),
    surface-inverse: get-palette(gray-800),

    // Texto e ícones
    content-primary: get-palette(brown-700),
    content-secondary: get-palette(gray-500),
    content-inverse: get-palette(white),

    // Destaques e ações
    accent-primary: get-palette(yellow-100),
    accent-secondary: get-palette(brown-300),
    accent-inverse: get-palette(gray-800),

    // Bordas
    border-primary: get-palette(brown-300),
    border-secondary: get-palette(gray-300),
    border-tertiary: get-palette(gray-500),
);

$text-containers: (
    xs: 16rem,
    s: 18rem,
    m: 20rem,
    l: 26rem,
    xl: 28rem,
    2xs: 32rem,
    xxl: 37rem,
    xxxl: 58rem,
);

$breakpoints: (
    mobile: 428px,
    tablet: 768px,
    laptop: 1024px,
    desktop: 1200px,
);

$typography: (
    barlow: (
        family: ("Barlow", sans-serif),
        sizes: (
            // titles
            h1: 5.75rem,
            h2: 4rem,
            h3: 2.5rem,
            h4: 1.75rem,
            h5: 1.25rem,

            //paragraphs
            body-large: 1.5rem,
            body-medium: 1.25rem,
            body-small: 1rem,
        ),
    ),
    inter: (
        family: ("Inter", sans-serif),
        sizes: (
            body-small: 1rem,
            body-medium: 1.25rem,
        ),
    ),
    weights: (
        regular: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
    ),
);

// Espaço entre as seções da página
$section-space: 5rem;